{% extends "base.html" %}

{% block title %}Blog - Ryan Drew{% endblock %}

{% block content %}
<h1>Blog</h1>
{% if posts %}
<ul class="post-list">
  {% for post in posts %}
  <li class="post-list-item">
    <a class="post-list-title" href="{{ base_path | safe }}blog/{{ post.slug }}/">{{ post.title }}</a>
    <span class="post-date">{{ post.date }}</span>
    {% if post.description %}<p class="post-description">{{ post.description }}</p>{% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="post-list-empty">nothing here yet</p>
{% endif %}
{% endblock %}
